h1 {
    width: auto;
    color: bisque;
}
li.task-item{
    list-style-type: none;
}
body {
    /*background-color: #333;*/
    /*color: whitesmoke;*/
    background-color: whitesmoke;
    color: #333;
}
/*настройки для рисунка кнопок и переключателей*/

/*настройки для кнопки удаления*/
button[name="delete"] {
    position: absolute;
    background: url(images/close.png) no-repeat top right;
}
.checkbox-replica{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px black solid;
    border-radius: 10px;
}
input[type="checkbox"]:checked +.checkbox-replica{
    background-color: black;
}
input[type="checkbox"]{
    display: none;
}
